/* App.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  
  .login_box{
    display: flex;
        justify-content: center;
        align-items: center;
        width: 1480px;
        height: 100vh; /* Set the height to 100% of the viewport height */
        background-color:rgba(253, 242, 242, 0.811); /* Example background color */
  }